{% extends 'templates/base.html' %}

{% block main %}
<div class="container">
    <div class="span3 well">
        <div style="text-align: center;">
            {% if person_profile.avatar %}
                <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{person_profile.avatar.url}}" name="aboutme" width="140" height="140" class="img-circle"></a>
            {%else%}
               <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png" name="aboutme" width="140" height="140" class="img-circle"></a>
            {% endif%}
            <h3>{{person_profile.user}}</h3>
            <em>{{person_profile.studentId}}</em>
		</div>
    </div>
</div>

    <div class="card-columns">
    {% for i in person_profile.user.assessmentPost.all %}
        <div class="card">
        <div class="card-body">
            <a href="{% url 'core:assessment_detail_view' i.id %}"> <h5 class="card-title">{{i.courseCode}}</h5></a>
            <p class="card-text">{{i.courseTitle}}</p>

            <img style="float: right" src="https://d2pj2twnjx3fya.cloudfront.net/frontend-packages/viewer-container/eye_icon.svg">
            <p class="card-text">{{i.assessmentDate}}</p>
            {% for tag in i.tags.all %}
                <a href="{% url 'core:tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% if not person_profile.user.assessmentPost.all %}
        <p class="text-danger">no uploads</p>
    {%endif%}
{% endblock %}
