{% extends 'templates/base.html' %}
{% load hitcount_tags %}

{% block main %}

<div class="container" style="display: flex">
<div class="col-8">
    <div class="hidden" id="Images" style="display: none">
        {% for simage in assessment.assessmentPic.all %}
            {% if simage.image%}
            <div class="card bg-dark text-white">
              <img class="card-img" src="{{simage.image.url}}" alt="Card image">
              <div class="card-img-overlay">

              </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>


    <button id= "hidebutton" class="btn btn-outline-secondary" onclick="myFunction()">display image instead</button>
    <div class="card" id="core">
      <h5 class="card-header">{{assessment.courseCode}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{assessment.courseTitle}}</h5>
          <div style="display:flex">
            {% for tag in assessment.tags.all %}
                <a href="{% url 'core:tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
          </div>
        <p class="card-text">assessment data : {{assessment.assessmentDate}}</p>
        <a href="#" class="btn btn-primary">uploaded by : {{assessment.user}}</a>
          <div style="color: #00A000">
              <p class="card-text" style="text-align: right">Views: {% get_hit_count for assessment %}</p>
          </div>
        </div>
    </div>


<br><br><br>


        <div class="card">
            {% for i in assessment.assessmentQuestion.all %}
            <div class="card-body">
                <p class="card-text">{{i.content}}</p>
                <a href="{%url 'core:view_answers' i.id %}" class="btn btn-primary">view answers</a>
            </div>

            {%endfor%}
        </div>
</div>
        <div class="col-4" >
            <h5>similar assessments</h5>
            <div class="card">
            {% for i in similar_objects %}
                <a href="{% url 'core:assessment_detail_view' i.id %}" ><p class="card-header">{{i.courseCode}} from {{i.assessmentDate}}</p></a>
                <div class="card-body">
                    <h5 class="card-title">{{i.courseTitle}}</h5>
                    <p>{{i.courseCode}}</p>

                </div>
            {%endfor%}
            </div>

        </div>
    <script>
        function myFunction() {
          var x = document.getElementById("Images");
          var y = document.getElementById("core");
          var z = document.getElementById("hidebutton");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.innerHTML = "display question cards";
          } else {
            x.style.display = "none";
            y.style.display = "block";
            z.innerHTML = "display images instead";
          }
        }
    </script>
</div>


{% endblock %}