{% extends 'templates/base.html' %}
{% load hitcount_tags %}

{% block main %}
<style>
    .rotater {
        transition: all 0.3s ease;
        display: block;
        padding: 5px;
    }
</style>

<div class="container" style="display: flex">
<div class="col-8">
    <div class="hidden" id="Images" style="display: none">
        <p>click image to rotate</p>
        {% for simage in assessment.assessmentPic.all %}
            {% if simage.image%}
                <img id="rotater" class="card-img img-responsive rotater" onclick="rotate(this)" src="{{simage.image.url}}" alt="Card image">
                <br>
            {% endif %}
        {% endfor %}
    </div>

    <button id= "hidebutton" class="btn btn-outline-secondary" onclick="myFunction()">display image instead</button>
    <div class="card" id="core">
      <h5 class="card-header">{{assessment.courseCode}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{assessment.courseTitle}}</h5>
          <div style="display:flex">
            {% for tag in assessment.tags.all %}
                <a href="{% url 'core:tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
          </div>
        <p class="card-text">assessment data : {{assessment.assessmentDate}}</p>
        <a href="{%url 'accounts:profileDetailView' assessment.user.id%}" class="btn btn-primary">uploaded by : {{assessment.user}}</a>
          <div style="color: #00A000">
              <p class="card-text" style="float: right"> {% get_hit_count for assessment %}</p>
              <img style="float: right" src="https://d2pj2twnjx3fya.cloudfront.net/frontend-packages/viewer-container/eye_icon.svg">
          </div>
        </div>
    </div>


<br><br><br>
            {% for i in assessment.assessmentQuestion.all %}
            <div class="card">
            <div class="card-body">
                <p class="card-text">{{i.content}}</p>
                <a href="{%url 'core:view_answers' i.id %}" class=" stretched-link">view answers</a>
            </div>
            </div>
            {%endfor%}
</div>


        <div class="col-4" >
            <h5>similar assessments</h5>
            <div class="card">
            {% for i in similar_objects %}
                <a href="{% url 'core:assessment_detail_view' i.id %}" ><p class="card-header">{{i.courseCode}} from {{i.assessmentDate}}</p></a>
                <div class="card-body">
                    <h5 class="card-title">{{i.courseTitle}}</h5>
                    <p>{{i.courseCode}}</p>

                </div>
            {%endfor%}
            </div>

        </div>
    <script>
        function myFunction() {
          var x = document.getElementById("Images");
          var y = document.getElementById("core");
          var z = document.getElementById("hidebutton");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.innerHTML = "display question cards";
          } else {
            x.style.display = "none";
            y.style.display = "block";
            z.innerHTML = "display images instead";
          }
        }
        let rotateAngle = 90;

        function rotate(image) {
            image.setAttribute("style", "transform: rotate(" + rotateAngle + "deg)");
            rotateAngle = rotateAngle + 90;
        }
    </script>
</div>
{% endblock %}