{% extends 'base.html' %}
{% load hitcount_tags %}

{%block main %}


<div class="container">
<h4>my list</h4>
{% if not empty %}
{%for i in assessments %}
    <div class="card">
      <h5 class="card-header topthing text-white">{{i.courseCode}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{i.courseTitle}}</h5>
        <p class="card-text">assessment date : {{i.assessmentDate}}</p>
          <img src="https://d2pj2twnjx3fya.cloudfront.net/frontend-packages/viewer-container/eye_icon.svg">
          <span class="glyphicon glyphicon-eye-open"></span>  <p> Views : {% get_hit_count for i %}</p>
          <a href="{% url 'core:assessment_detail_view' i.id %}" class="btn btn-primary">view paper</a>
          <a href="{% url 'accounts:profileDetailView' i.user.id %}" class="btn btn-primary">{{i.user}}</a>
          <br>
          <br>
        <div  style="display:flex">
            <br>
            {% for tag in i.tags.all %}
                <a href="{% url 'core:tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
        </div>
      </div>
    </div>
    <br>
    {%endfor%}
{% elif results|length == 0 %}
<h1>empty</h1>
    <div class="alert alert-danger" role="alert">
        <p>no results found</p>
    </div>
{% endif %}



{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{%endblock%}