{% extends 'templates/base.html' %}
{% load hitcount_tags %}
{% block main %}


<div class="container">
    <div style="text-align: center;">
    <form method="GET" action="{% url 'core:search' %}" >
    <div class="input-group">
        <div class="col-md-8">
            <input class="form-control"  name="keyword" id="choices-text-preset-values" type="text" placeholder="Type to search..." />
        </div>
       <span class="input-group-btn">
            <input class="btn btn-default" name="search" value="search" type="submit">
       </span>
    </div>
</form>
</div>


<br><br>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            {% if tag %}
                 <h4 style="color: dodgerblue"><a href="{% url 'core:tagged' tag %}" class="mr-1 badge badge-info">{{ tag }}</a></h4>
            {% else %}
                <h4 style="color: #00BCD4" class="card-title"> you searched for: "{{request.GET.keyword}}"</h4>
                <h5 class="card-text">total results : {{ paginator.count }}</h5>
            {% endif %}
        </div>
    </div>
</div>


{% if not empty %}
    {% for assessment in results %}
    <div class="card">
      <h5 class="card-header">{{assessment.courseCode}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{assessment.courseTitle}}</h5>
        <p class="card-text">assessment data : {{assessment.assessmentDate}}</p>
          <span class="glyphicon glyphicon-eye-open"></span>  <p> Views : {% get_hit_count for assessment %}</p>
          <a href="{% url 'core:assessment_detail_view' assessment.id %}" class="btn btn-primary">view paper</a>
          <br>
          <br>
        <div  style="display:flex">
            <br>
            {% for tag in assessment.tags.all %}
                <a href="{% url 'core:tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
        </div>
      </div>
    </div>
    <br>
    {%endfor%}
{% elif results|length == 0 %}
<h1>empty</h1>
    <div class="alert alert-danger" role="alert">
        <p>no results found</p>
    </div>
{% endif %}


{% if is_paginated %}
<nav aria-label="...">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?keyword={{request.GET.keyword}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-link page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
            <a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?keyword={{request.GET.keyword}}&page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?keyword={{request.GET.keyword}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>

{% endif %}

</div>
{%endblock%}