{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<div class="col-8">
    <p>please complete the form before uploading</p>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {{ ImageForm|crispy }}
        <div class="col-md-6 card-img" style="float: right">
                <div   id="imageholder"> </div>
        </div>
     <button type="submit" class="save btn btn-default">Save</button>
    </form>

</div>

<script>
    function rotate(image) {
        let rotateAngle = Number(image.getAttribute("rotangle")) + 90;
        image.setAttribute("style", "transform: rotate(" + rotateAngle + "deg)");
        image.setAttribute("rotangle", "" + rotateAngle);
    }

  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="img-thumbnail" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('imageholder').insertBefore(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>



{% endblock %}