{% extends 'templates/base.html' %}
{% load upvote_tags %}

{%block main %}

<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{question.content}}</p>
        </div>
    </div>
<br><br>

        {% for i in question.questionAnswer.all %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{i.Answercontent}}</p>
                    <p>Total Votes : {{i.votes}}</p>
                    <a href="{% url 'core:upvote' i.id%}" class="btn btn-primary">upvote</a>
                    <a href="{% url 'core:downvote' i.id%}" class="btn btn-primary">downvote</a>
                    <div class="card col-3 bg-light" style="float: right">
                        <div class="card-body">
                            <p style="text-align: right" class="card-text"><small class="text-muted">Answered by : {{i.user}}</small></p>
                            <p style="text-align: right" class="card-text"><small class="text-muted">Answered on : {{i.created|date:'d-M-Y'}}</small></p>
                        </div>
                    </div>
                </div>

            </div>

        {%endfor%}
</div>

{%endblock%}