{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href=" {%static 'css/searchStyle.css'%} ">
    <title>Django People</title>
  </head>
  <body>
  <nav>
      <ul>
          <li>
              <form class="logout-link" action="{%url 'accounts:logout'%}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
              </form>
          </li>
      </ul>
  </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <hr class="mt-0 mb-4">
            <div style="align: left">
                {% if user.is_authenticated %}
                    <h4 class="mt-2">Welcome {{ user.username }}</h4>
                {% else %}
                    <a href="{% url 'accounts:login' %}">Login</a>
                    {% endif %}
            </div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>