{% extends 'templates/base.html' %}

{% block main %}
<div class="row">
  <div class="col-12">
    <h1>No Name</h1>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-6">
    <h2>Sign in</h2>

    {% if signinform.errors %}
      {% for field in signinform %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <b>{{ error|escape }}</b>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in signinform.non_field_errors %}
        <div class="alert alert-danger">
          <b>{{ error|escape }}</b>
        </div>
      {% endfor %}
    {% endif %}

    <form action="." method="post">
      {% csrf_token %}

      {% for field in signinform %}
        <div class="form-group">
          {{ field }}
        </div>
      {% endfor %}

      <input type="submit" value="Sign in" name="signinform" class="btn btn-primary">
    </form>
  </div>


    <div class="col-6">
      <div id="page1">
      <h3>Don't have an account yet?</h3>

      {% if signupform.non_field_errors %}
        <div class="alert danger">
          {{ signupform.non_field_errors }}
        </div>
      {% endif %}

      {% if signupform.errors %}
        {% for field in signupform %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <b>{{ error|escape }}</b>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in signupform.non_field_errors %}
          <div class="alert alert-danger">
            <b>{{ error|escape }}</b>
          </div>
        {% endfor %}
      {% endif %}

      <form action="." method="POST">
        {% csrf_token %}

        {% for field in signupform %}
          <div class="form-group">
            {{ field }}

          </div>
        {% endfor %}
        <button id= "hidebutton" class="btn btn-outline-secondary" onclick="myFunction()">next</button>

        </div>

        <div id="page2" style="display: none">
          {% for field in profileform %}
          <div class="form-group">
            {{field}}
          </div>
          {% endfor %}
        <input type="submit" value="Sign up" name="signupform" class="btn btn-primary">
        </div>


      </form>

  </div>

</div>

<script>
        function myFunction() {
          var x = document.getElementById("page1");
          var y = document.getElementById("page2");
          var z = document.getElementById("hidebutton");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";

          } else {
            x.style.display = "none";
            y.style.display = "block";
          }
        }
    </script>
{% endblock %}